.block_one {
  margin-bottom: 200px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 0 auto;
}

@keyframes square {
  0% {
    background-color: red;
  }

  100% {
    background-color: rgb(243, 239, 7);
  }
}
.square {
  animation: square 0.2s infinite;
}
/************   block_two   **************/

.block_two {
  padding-left: 580px;
}

.one_square {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
}

.two_square {
  width: 10px;
  height: 10px;
  background-color: yellow;
  position: relative;
  top: -55px;
  right: -45px;
}

@keyframes square1 {
  0% {
    transform: scale(1);
    z-index: -1;
  }

  100% {
    transform: scale(0.1);
  }
}

@keyframes square2 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(10);
    z-index: -1;
  }
}

.one_square {
  animation: square1 3s infinite;
}

.two_square {
  animation: square2 3s infinite;
}
